<html>
<head>
{% load staticfiles %}
<title>{% block title %}我的博客{% endblock %}</title>
<link href="{% static "css/base.css" %}" rel="stylesheet">
<link href="{% static "css/index.css" %}" rel="stylesheet">
<link href="{% static "css/m.css" %}" rel="stylesheet">
<link href="{% static "css/info.css" %}" rel="stylesheet">
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/comm.js" %}"></script>
<script src="{% static "js/modernizr.js" %}"></script>
<script src="{% static "js/scrollReveal.js" %}"></script>
</head>

<body>
<header class="header-navigation" id="header">
  <nav><div class="logo"><a href="javascript:;">博客首页</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li><a href="{% url 'article' id 1%}">我的日记</a></li>
      <li><a href="{% url 'album' id 1 %}">我的相册</a></li>
      <li><a href="{% url 'about' id %}">关于我</a></li>
      <li><a href="{% url 'board' id 1 %}">留言</a></li>
      <li><a href="{% url 'admin:index' %}">博客后台管理</a></li>
    </ul>
  </nav>
</header>

{% block body %}
<article>
  <aside class="l_box">
      <div class="about_me">
        <h2>关于我</h2>
        <ul>
          {% if user.photo %}
            <i><img src="{{ user.photo.url }}"></i>
          {% else %}
            <i><img src="{% static 'images/user.jpg' %}"></i>
          {% endif %}
          <p><b>{{ user.name }}</b>，{{ user.introduce }}</p>
        </ul>
      </div>
      <div class="wdxc">
        <h2>我的相册</h2>
        <ul>
          {% for a in album %}
          <li><a href="javascript:;"><img src="{{ a.photo.url }}"></a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="fenlei">
        <h2>文章分类</h2>
        <ul>
          {% for t in tag %}
          <li><a href="/">{{ t.tag }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="tuijian">
        <h2>站长推荐</h2>
        <ul>
          <li><a href="https://gitbook.cn/gitchat/author/5b28bff00ac95342c847f199" target="new">个人专题</a></li>
          <li><a href="https://item.jd.com/12460562.html" target="new">玩转django2.0-京东</a></li>
          <li><a href="http://product.dangdang.com/25535043.html" target="new">玩转django2.0-当当网</a></li>
        </ul>
      </div>
      <div class="links">
        <h2>友情链接</h2>
        <ul>
          <a href="https://blog.csdn.net/HuangZhang_123" target="new">CSDN博客</a>
          <a href="https://book.jd.com/writer/%E9%BB%84%E6%B0%B8%E7%A5%A5_1.html" target="new">出版图书</a>
        </ul>
      </div>
  </aside>
  {% endblock %}

{% block content %}{% endblock %}

</article>
<a href="#" class="cd-top">Top</a>
{% block script %}{% endblock %}
</body>
</html>